*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    width: 500px;
    height: 200px;
    background-color: blueviolet;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div p{
    font-size: 20px;
    color: white;
}

.numb{
    width: 150px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.884);
    border-radius: 12px;  
    display: flex;
    align-items: center;
    justify-content: center;  
}

.numb h1{
    font-size: 80px;
    color: aliceblue;
}